* {
    margin: 0;
    font-family: serif; 
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

header{
    background-color: #E4BB97;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
}


header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    bottom: unset;
}

nav {
    display: flex;
    gap: 9rem;
}

header a:hover {
    text-decoration: underline;
}

section {
    border: 1px solid rgb(255, 255, 255);
    height: calc(100vh - 6rem);

}
