* {
    margin: 0;
    font-family:  'Kumbh Sans', sans-serif; 
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    
}

header{
    background-color: #815355;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: blook;
    width: 100%;
    top: 0;
}


header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    bottom: unset;
}

nav {
    display: flex;
    gap: 9rem;
}

header a:hover {
    text-decoration: underline;
}

section {
    border: 1px solid rgb(255, 255, 255);
    height: calc(100vh - 6rem);
}
h1{
    display: flex;
    margin: 20px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 53.644px;
    border-radius: 26.009px;
    background: #9D5C63;
    box-shadow: 0px 0px 55.26944px 6.50229px rgba(52, 52, 52, 0.25);
}
h2{
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 53.644px;
    border-radius: 26.009px;
    background: #9D5C63;
    box-shadow: 0px 0px 55.26944px 6.50229px rgba(52, 52, 52, 0.25);
}
div{
    display: flex;
    margin: 20px;
    padding: 81.279px 84.53px;
    flex-direction: column;
    align-items: flex-start;
    gap: 53.644px;
    border-radius: 26.009px;
    background: #FEF5EF;
    box-shadow: 0px 0px 55.26944px 6.50229px rgba(52, 52, 52, 0.25);
 }

img{
    width: 25%;
}
 
